<!-- Interchange (Just need interchange JS) -->

<div>
  <img class="no-js" data-interchange="
    [assets/img/banner-sm.jpg, small], 
    [assets/img/banner-md.jpg, medium], 
    [/assets/img/banner-lg.jpg.jpg, large]" 
   alt="">
  <noscript>
    <img src="assets/img/sample-md.jpg" alt="">
  </noscript>
</div>

<div>
  <img class="no-js" data-interchange="
    [assets/img/sample-sm.jpg, @media screen and (max-width: 39.9375em) ], 
    [assets/img/sample-lg.jpg, @media screen and (min-width: 40em)]" 
   alt="">
  <noscript>
    <img src="assets/img/sample-md.jpg" alt="">
  </noscript>
</div>

<!-- END: Interchange Just need interchange JS -->